*{
    margin: 0px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    text-align: center;
    display: flex;
    
    align-items: center;
}

#logo {
    width: 200px;
    height: 150px;
    margin-right: 20px; /* Espaçamento entre a logo e os links de navegação */
}

#navegação {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    justify-content: space-between;
    
    margin: 0 15px;
    font-size: 18px;
}